* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(120deg, #ff8700, #76ff00);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 5rem;
    padding: 5rem;
}

.todo-title {
    font-weight: 700;
}

.todo-form {
    position: relative;
    margin-bottom: 1rem;
}

.todo-input {
    font-size: 1.25rem;
    border: none;
    background-color: transparent;
    width: 20vw;
    border-bottom: #9308f1 solid 0.15rem;
    outline: none;
    padding: 0.2rem 0.5rem;
}

.btn {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.todo-btns {
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
    display: none;
}

.fa-solid {
    font-size: 1.25rem;
}

.fa-circle-plus {
    color: #9308f1;
}

.fa-circle-xmark {
    color: #ff2121;
}

.fa-circle-check {
    color: #68cc11;
}

.fa-circle-minus {
    color: #ff8700;
}

.todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.3);
    height: 2.5rem;
    margin-top: 1rem;
    padding: 0.7rem 0.5rem;
}

.todo-item-done {
    display: flex;
    gap: 0.5rem;
}

.alert-message {
    display: none;
    font-size: 0.8rem;
    color: #ff2121;
}

.fa-circle {
    color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.show {
    display: block;
}

.checked {
    text-decoration: line-through;
}